doctype html
html
    head
        title='BakaEditor'
        meta(name='viewport', content='width=device-width, initial-scale=1')
        script(src="/assets/js/fontawesome-all.min.js")
        script(src=`/assets/react/${bundle}`)
    body
        #App